
#page {
  display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}



/* Onglets */
#section1 {
  /* background: linear-gradient(to bottom, #ffffff 10%, #6ab5c8 50%, #ffffff 100%); */
  background: #fff;
  color: #efedef;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px; }

h1 {
  font-size: 40px;
  line-height: 0.8em;
  color: #000;
}
.tab2-1-1, .tab2-2-2 {
  display: flex;
}

.a-cote {
  display: flex;
  flex-direction: column;
}

.a-cote img {
  max-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px; /* Ajoute une marge à droite de l'image pour créer de l'espace entre l'image et le texte */
}

.a-cote p {
  flex-grow: 1;
}

.tab2-1-1 h4, .tab2-2-2 h4 {
  color: #7008cb;
}


.made-with {
    background: #da84f2;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}
.documentation {
    color: #da84f2;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #da84f2;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #da84f2; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #da84f2; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }

/***********************  SECTION 2 **************************/


#section2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;

}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
  }
  p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
  }
  
  .header {
    text-align:center;
    background: linear-gradient(60deg, rgb(170, 151, 209) 0%, rgb(133, 193, 201) 50%, rgb(202, 155, 205) 100%);
    color:white;
  }
  .logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom: -20px;
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }




  /***************** SECTION BARRES %  ***************/
.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px;
  background: #444;
  border-radius: 3px;
}

.skill-per{
  height: 14px;
  background: linear-gradient(135deg,#ed4d5e,#7008cb 31%,#3f0198 69%,#1bb7f7);
  border-radius: 3px;
  position: relative;
  animation: fillBars 3.5s 1;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}



























    /*********************** DARK MODE  ***********************/

    .dark .header {
      text-align:center;
      background: linear-gradient(60deg, rgb(95, 76, 124) 0%, rgb(45, 116, 118) 50%, rgb(124, 77, 126) 100%);
      color:white;
    }
  
    .dark .parallax use:nth-child(1) {
      fill: rgba(0, 0, 0, 0.7); /* Couleur foncée pour la première vague */
    }
    
    .dark .parallax use:nth-child(2) {
      fill: rgba(0, 0, 0, 0.5); /* Couleur foncée pour la deuxième vague */
    }
    
    .dark .parallax use:nth-child(3) {
      fill: rgba(0, 0, 0, 0.3); /* Couleur foncée pour la troisième vague */
    }
    
    .dark .parallax use:nth-child(4) {
      fill: #000; /* Couleur foncée pour la quatrième vague */
    }
  
    /***************** SECTION BARRES % (DARK MODE) ***************/
.dark .skills {
  background: #000; /* Dark mode background color */
  color: #f1f1f1; /* Dark mode text color */
}

.dark .skill-name {
  color: #ccc; /* Dark mode text color */
}

.dark .skill-bar {
  background: #666; /* Dark mode color for the skill bar */
}

.dark .skill-per {
  background: linear-gradient(135deg, #ed4d5e, #7008cb 31%, #3f0198 69%, #1bb7f7);
}

.dark .skill-per::before {
  background: #1a1a1a; /* Dark mode background color for the tooltip */
  color: #f1f1f1; /* Dark mode text color for the tooltip */
}

.dark .skill-per::after {
  background: #1a1a1a; /* Dark mode background color for the tooltip */
  border-color: transparent transparent #1a1a1a transparent; /* Dark mode border color for the tooltip */
}

.dark #page {
  background: #000;
}


/********************* SECTION 1 DARK  **********************/

/* Onglets */
.dark #section1 {
  /* background: linear-gradient(to bottom, #000000 10%, #507872 50%, #000000 100%); */
  background: #000;
  color: #ffffff;
}

.dark h1, .dark p {
  color: #efedef;
}

.dark .made-with {
  background: #7f3aa0;
  color: #ffffff;
}

.dark .documentation {
  color: #7f3aa0;
}

.dark .tabs [class^="tab"] label,
.dark .tabs [class*=" tab"] label {
  color: #7f3aa0;
}

.dark .tabs [class^="tab"] [type="radio"],
.dark .tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(111, 110, 110, 0.5);
}

.dark .tabs [class^="tab"] [type="radio"]:hover,
.dark .tabs [class^="tab"] [type="radio"]:focus,
.dark .tabs [class*=" tab"] [type="radio"]:hover,
.dark .tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #7f3aa0;
}

.dark .tabs [class^="tab"] [type="radio"]:checked,
.dark .tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #7f3aa0;
}

.dark .tabs .tab-2 {
  width: 50%;
}

.dark .tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
}

.dark .tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}

.dark .tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}

.dark .tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}
