@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


body {
  line-height: 1.6;
color: #fff;
background: #000;
font-size: 18px;
font-weight: 400;
font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

&.stop {
overflow: hidden;
}
}

#page {
position: relative;
transition: 1s all ease-in-out;

&.menuopen {
opacity: .6;
filter: blur(20px);
transform: scale(1.2);
}
}

section {
display: flex;
min-height: 100vh;
padding: 50px;
justify-content: center;
align-items: center;
background: #222;
color: #fff;
position: relative;

&:after {
content: "";
position: absolute;
left: 0;
top: 0;
opacity: .5;
height: 100%;
width: 100%;
}

h1 {
font-size: 120px;
margin: 0;
z-index: 2;
position: relative;
}
}

header {
z-index: 99999;
position: relative;

#logo {
position: fixed;
top: 30px;
left: 0;
right: 0;
width: 100px;
height: auto;
margin: 0 auto;
opacity: 1;
transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
}

nav {
display: flex;
height: 100px;
justify-content: center;
align-items: center;
padding: 0 20px;
position: fixed;
left: 0;
right: 0;
width: 500px;
margin: 0 auto;
top: 120px;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 200px;
z-index: 9;
backdrop-filter: blur(5px);
border: 1px solid rgb(0, 0, 0, 0.1);
transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;


a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  display: block;
  padding: 10px 20px;
  line-height: 1;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: lowercase;
  transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;

}

button {
  -webkit-appearance: none;
  background: rgba(0,0,0,.3);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,.1);
  position: absolute;
  z-index: 99;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  outline: 0;
    border: 0;
  cursor: pointer;
            transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transform: scale(0);

  span {
    width: 40%;
    background: #fff;
    height: 2px;
    display: block;
    margin: 5px auto;
    transform: scalex(0);
    transition: .6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, .3s margin ease-in 0s;
  }
  
  &:hover {
    border-color: rgba(255,255,255,.5);
    
    span {
      margin: 10px auto;
    }
  }
}
}
}

header.sticky {
#logo {
top: 0;
transform: scale(.8);
opacity: 0;
transition-delay: 0.5s;
}
nav {
top: 20px;
padding: 0;
width: 90px;
height: 90px;
transition-delay: 0.5s;

button {
  transform: scale(1);
  transition-delay: 0.6s;
  
  span {
    transform: scalex(1);
    transition: .6s transform cubic-bezier(0.075, 0.82, 0.165, 1) .8s, .3s margin ease-in 0s;
  }
}

a { 
  color: #000;
  padding: 0;
  opacity: 0;
  letter-spacing: 0px;
  transform: scale(0.3);
  transition-delay: 0.2s;
}
}
}

#fixedlink {
position: fixed;
bottom: 0;
z-index: 9999;
right:0;
left:0;
text-align: center;
text-decoration: none;
color:#000000;
font-size: 13px;
font-weight: 700;
letter-spacing: 1px;
padding: 20px;
}


@keyframes jumbo {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.jumbo {
    --stripes: repeating-linear-gradient(
        100deg,
        #fff 0%,
        #fff 7%,
        transparent 10%,
        transparent 12%,
        #fff 16%
    );
    --stripesDark: repeating-linear-gradient(
        100deg,
        #000 0%,
        #000 7%,
        transparent 10%,
        transparent 12%,
        #000 16%
    );
    --rainbow: repeating-linear-gradient(
        100deg,
        #60a5fa 10%,
        #e879f9 15%,
        #60a5fa 20%,
        #5eead4 25%,
        #60a5fa 30%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) invert(100%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

    pointer-events: none;
}

.jumbo::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: jumbo 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}

.dark .jumbo {
    background-image: var(--stripesDark), var(--rainbow);
    filter: blur(10px) opacity(50%) saturate(200%);
}
.dark .jumbo::after {
    background-image: var(--stripesDark), var(--rainbow);
}


.dark body {
  /* Styles pour le mode sombre */
  background-color: #000;
  color: #fff;
}

.dark .jumbo {
  /* Styles pour le mode sombre du jumbo */
  background-image: var(--stripesDark), var(--rainbow);
  filter: blur(10px) opacity(50%) saturate(200%);
}

.dark #exemples {
  /* Styles spécifiques pour le mode sombre dans la section exemples */
  background-color: #000;
  color: #fff ;
}


.dark #exemples p {
  color: #fff ;
}


.dark nav {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
  top: 120px;
  background-color: rgba(255,255,255,.05);
  border-radius: 200px;
  z-index: 9;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,.06);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
  
  
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: block;
    padding: 10px 20px;
    line-height: 1;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: lowercase;
    transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
  
  }
  
  button {
    -webkit-appearance: none;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,.1);
    position: absolute;
    z-index: 99;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    outline: 0;
      border: 0;
    cursor: pointer;
              transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
    transform: scale(0);
  
    span {
      width: 40%;
      background: #fff;
      height: 2px;
      display: block;
      margin: 5px auto;
      transform: scalex(0);
      transition: .6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, .3s margin ease-in 0s;
    }
    
    &:hover {
      border-color: rgba(255,255,255,.5);
      
      span {
        margin: 10px auto;
      }
    }
  }
  }





*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  min-height: 100vh;
  overflow: hidden;
  
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(30px);
  border-radius: 20px;
  width: min(900px, 100%);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.info {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 0 35px;
  text-align: justify;
}

.info p{
  color: #222;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.movie-night {
  background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}

.btn {
  display: block;
  padding: 10px 40px;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #784ba0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.btn:hover, .btn:focus, .btn:active, .btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {
  
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* SWIPER */

.swiper {
  width: 250px;
  height: 450px;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.swiper-slide span {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 7px 18px;
  margin: 10px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2), inset -3px 3px 3px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(74px);
}

.swiper-slide h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 20px 20px;
}

.swiper-slide:nth-child(1n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/white/2ppl_W.PNG")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(4n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/white/elihca_W.PNG")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(5n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/white/hich_W.PNG")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(6n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/white/ice_W.PNG")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(7n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/white/kvi_W.PNG")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(8n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/white/log_W.PNG")
      no-repeat 50% 0% / cover;
}

.swiper-slide:nth-child(9n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/white/sanji_W.PNG")
      no-repeat 50% 50% / cover;
}




/* Pour le thème sombre */
.dark .swiper-slide:nth-child(1n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/black/2ppl_B.PNG") 
  no-repeat 50% 50% / cover;
}


.dark .swiper-slide:nth-child(4n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/black/elihca_B.PNG")
      no-repeat 50% 50% / cover;
}

.dark .swiper-slide:nth-child(5n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/black/hich_B.PNG")
      no-repeat 50% 50% / cover;
}

.dark .swiper-slide:nth-child(6n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/black/ice_B.PNG")
      no-repeat 50% 50% / cover;
}

.dark .swiper-slide:nth-child(7n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/black/kvi_B.PNG")
      no-repeat 50% 50% / cover;
}

.dark .swiper-slide:nth-child(8n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/black/log_B.PNG")
      no-repeat 50% 0% / cover;
}

.dark .swiper-slide:nth-child(9n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("/assets/img/black/sanji_B.PNG")
      no-repeat 50% 50% / cover;
}



/* ANIMATED BACKGROUND */

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

/*
@media (max-width: 750px) {
  .content {
     flex-direction: column-reverse;
  }
  
  .btn {
    margin: 10px auto 40px;
  }
}
*/






























.mail {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  font-family: 'NexaLight';
  background-color: transparent;
  border: none;
  color: #13304e;
  font-size: 1.3em;
  font-weight: 900;

  transition: color 0.5s, transform 0.5s;
}

.mail:hover {
  color: #041D3C;
  cursor: pointer;
}

.mailToCopy {
  opacity: 0;
}

.mentions-legales {
  font-family: 'NexaLight';
  font-size: 0.9em;
  color: #13304e;
  text-decoration: none;

  transition: color 0.5s;
}

.mentions-legales:hover {
  color: #041D3C;
}








#loadingGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #041D3C;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    

}

#loadingGroup.show {
    visibility: visible;
    opacity: 1;
}

#loadingGroup svg,
#loadingGroup img {
    margin-bottom: 20px;
}

#loadingGroup svg {
    fill: transparent;
    stroke: white;
    stroke-width: 3;
    border-radius: 10px;
}

#loadingBar {
    stroke: white;
    stroke-width: 5; /* Largeur de la bordure */
    width: 0;
    transition: width 1s ease-in-out;
}



@keyframes fillLoadingBar {
    to {
        width: 91%;
    }
}


#logoAboveLoading {
    transform: translateX(-50%, -50%);
    opacity: 1;
    transition: opacity 0.5s;
}






















/* Section 2 */


.dark #vision {
  background-color: #000;
}


ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 1rem;
  list-style-type: none;
}

.dark ul::after {
  border-radius: 1rem;
  content: "";
  position: absolute;
  background: hsl(0 0% 10%);
  pointer-events: none;
  z-index: -2;
  inset:
    calc(var(--top) * 1px)
    calc(100% - (var(--right) * 1px))
    calc(100% - (var(--bottom) * 1px))
    calc(var(--left) * 1px);
  transition: inset 0.2s;
}

.dark ul[data-enhanced]:hover {
  --active: 1;
}
.dark ul[data-enhanced]::after {
  opacity: var(--active, 0);
  transition: opacity 0.2s, inset 0.2s 0.2s;
}
.dark ul[data-enhanced]:hover::after {
  transition: opacity 0.2s 0.2s, inset 0.2s;
}

@supports(anchor-name: --anchor) {
  .dark li:nth-of-type(1) article { anchor-name: --develop; }
  .dark li:nth-of-type(2) article { anchor-name: --preview; }
  .dark li:nth-of-type(3) article { anchor-name: --ship; }
  li:nth-of-type(4) article { anchor-name: --profit; }

  :root { --anchor: --develop; }
  :root:has(li:nth-of-type(1):hover) { --anchor: --develop; }
  :root:has(li:nth-of-type(2):hover) { --anchor: --preview; }
  :root:has(li:nth-of-type(3):hover) { --anchor: --ship; }
  :root:has(li:nth-of-type(4):hover) { --anchor: --profit; }  

  .dark ul::after {
    inset:
      anchor(var(--anchor) top)
      anchor(var(--anchor) right)
      anchor(var(--anchor) bottom)
      anchor(var(--anchor) left);
  }

  .dark ul:has(li:hover) {
    --active: 1;
  }
  .dark ul::after {
    opacity: var(--active, 0);
    transition: opacity 0.2s, inset 0.2s 0.2s;
  }
  .dark ul:hover::after {
    transition: opacity 0.2s 0.2s, inset 0.2s;
  }
  
  .dark article::after {
    content: unset;
    display: none;
  }
}

.dark ul:not([data-enhanced]) article::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
  background: hsl(0 0% 10%);
  border-radius: 1rem;
  opacity: var(--li-active, 0);
  transition: opacity 0.2s;
}

article {
  color: hsl(0 0% 80%);
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  position: relative;
}

.dark article::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(var(--bg) 0 2px, transparent 2px 38px) -20px -20px / 40px 40px,
    linear-gradient(90deg, var(--bg) 0 2px, transparent 2px 38px) -20px -20px / 40px 40px;
  mask: linear-gradient(-35deg, var(--bg) 0%, transparent 45%);
  z-index: -1;
  opacity: var(--li-active, 0);
  transition: opacity 0.2s;
}

.dark li:hover {
  --li-active: 1;
}

article h3 {
  margin: 0;
  font-weight: 120;
}

article p {
  margin: 0;
  text-wrap: pretty;
  background: linear-gradient(hsl(0 0% 80%), hsl(0 0% 50%));
  color: transparent;
  background-clip: text;
  font-weight: 80;
}

article svg {
  width: 44px;
}

article svg path {
  stroke-width: 0.75;
  stroke: hsl(var(--hue, 30) calc(var(--li-active, 0) * 60%) 60%);
  transition: stroke 0.2s;
}

li:nth-of-type(1) { --hue: 30; }
li:nth-of-type(2) { --hue: 280; }
li:nth-of-type(3) { --hue: 210; }
li:nth-of-type(4) { --hue: 120; }